<section class="mat-typography">
  <h2 mat-dialog-title class="centered-text">Register to try&#123;code&#125;catch</h2>

  <form #registerForm="ngForm" (submit)="onSubmit(registerForm)">
    <mat-dialog-content>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>First name</mat-label>
        <input
          matInput
          name="firstName"
          placeholder="First name"
          ngModel
          required>
      </mat-form-field>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Last name</mat-label>
        <input
          matInput
          name="lastName"
          placeholder="Last name"
          ngModel
          required>
      </mat-form-field>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Address</mat-label>
        <input
          matInput
          name="address"
          placeholder="Address"
          ngModel
          required>
      </mat-form-field>
      <mat-form-field class="full-width" appearance="outline">
        <mat-select
          placeholder="Gender"
          ngModel
          name="gender"
          required>
          <mat-option value="M">Male</mat-option>
          <mat-option value="F">Female</mat-option>
          <mat-option value="X">Other</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="full-width" appearance="outline">
        <mat-select
          placeholder="Authority"
          ngModel
          name="authorityGroup"
          required>
          <mat-option value="UserType1">UserType1</mat-option>
          <mat-option value="UserType2">UserType2</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Email</mat-label>
        <input
          matInput
          name="email"
          placeholder="Email"
          ngModel
          required>
      </mat-form-field>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Password</mat-label>
        <input
          #password
          matInput
          name="password"
          placeholder="Password"
          [type]="hide ? 'password' : 'text'"
          ngModel
          required>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
      </mat-form-field>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Confirm password</mat-label>
        <input
          #confirmPassword
          matInput
          placeholder="Password"
          [type]="hide ? 'password' : 'text'"
          required>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
      </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions class="centered-content">
      <button mat-button [mat-dialog-close]="false">Cancel</button>
      <button
        mat-raised-button
        type="submit"
        color="accent"
        [disabled]="!registerForm.form.valid || password.value !== confirmPassword.value">
        Register
      </button>
    </mat-dialog-actions>
  </form>
</section>
