<mat-tab-group>
  <mat-tab label="Donor list">
      <mat-card style="height: 93vh;">
        <div style="margin-bottom: 20px;">
          <button
            matTooltip="Add new donor"
            [matTooltipPosition]="'right'"
            (click)="onAddDonor()"
            mat-fab color="accent"><mat-icon>group_add</mat-icon></button>
        </div>

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

          <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef> First name. </th>
            <td mat-cell *matCellDef="let element"> {{ element.firstName }} </td>
          </ng-container>

          <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef> Last name </th>
            <td mat-cell *matCellDef="let element"> {{ element.lastName }} </td>
          </ng-container>

          <ng-container matColumnDef="bloodType">
            <th mat-header-cell *matHeaderCellDef> Blood type </th>
            <td mat-cell *matCellDef="let element"> {{ element.bloodType }} </td>
          </ng-container>

          <ng-container matColumnDef="age">
            <th mat-header-cell *matHeaderCellDef> Age </th>
            <td mat-cell *matCellDef="let element"> {{ now - element.yearOfBirth }} </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element">
              <button
                matTooltip="View donor info"
                color="primary"
                [matTooltipPosition]="'right'"
                mat-mini-fab
                color="accent"
                (click)="onViewDonor(element.id)"><mat-icon>zoom_in</mat-icon></button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

      </mat-card>
  </mat-tab>
  <mat-tab label="Questions for donors">
    <mat-card style="height: 93vh;">
      <mat-form-field class="full-width">
        <textarea #question matInput placeholder="Ask a question"></textarea>
      </mat-form-field>
      <button mat-raised-button (click)="createQuestion(question.value)">Ask</button>

      <mat-list>
        <div *ngFor="let q of questions">
          <mat-divider></mat-divider>
          <mat-list-item> {{ q.description }} </mat-list-item>
        </div>
      </mat-list>
    </mat-card>
  </mat-tab>
</mat-tab-group>
