<section class="mat-typography">
  <mat-card>
    <h1 class="mat-headline">Dashboard</h1>
    <mat-divider></mat-divider>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <h2 class="mat-title">Blood in stock</h2>
    </mat-card-header>

    <div class="row">
      <div class="col-md-2">
        <mat-form-field class="full-width" appearance="outline">
          <mat-select [(ngModel)]="filterMonth" placeholder="Month">
            <mat-option value="this">This month</mat-option>
            <mat-option value="last">Last month</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-2">
        <button
          mat-raised-button
          color="accent"
          style="height: 55px"
          class="full-width"
          (click)="filter()">
          Show
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h3><strong></strong>A- ({{ am }} / 42)</h3>
        <mat-progress-bar class="hero" style="height: 15px; background-color: silver !important;" mode="determinate" [value]="(am / amv) * 100"></mat-progress-bar>
        <br />
        <h3>A+ ({{ ap }} / 110)</h3>
        <mat-progress-bar style="height: 15px;" mode="determinate" [value]="(ap / apv) * 100"></mat-progress-bar>
        <br />
        <h3>B- ({{ bm }} / 35)</h3>
        <mat-progress-bar style="height: 15px;"  mode="determinate" [value]="(bm / bmv) * 100"></mat-progress-bar>
        <br />
        <h3>B+ ({{ bp }} / 21)</h3>
        <mat-progress-bar style="height: 15px;"  mode="determinate" [value]="(bp / bpv) * 100"></mat-progress-bar>
      </div>

      <div class="col-md-6">
        <h3>AB- ({{ abm }} / 7)</h3>
        <mat-progress-bar style="height: 15px;"  mode="determinate" [value]="(abm / abmv) * 100"></mat-progress-bar>
        <br />
        <h3>AB+ ({{ abp }} / 14)</h3>
        <mat-progress-bar style="height: 15px;"  mode="determinate" [value]="(abp / abpv) * 100"></mat-progress-bar>
        <br />
        <h3>0- ({{ zm }} / 35)</h3>
        <mat-progress-bar style="height: 15px;"  mode="determinate" [value]="(zm / zmv) * 100"></mat-progress-bar>
        <br />
        <h3>0+ ({{ zp }} / 105)</h3>
        <mat-progress-bar style="height: 15px;"  mode="determinate" [value]="(zp / zpv) * 100"></mat-progress-bar>
      </div>
    </div>
  </mat-card>
</section>
