<section class="mat-typography">
  <mat-card style="height: 93vh;">
    <h1 class="mat-headline">Donation events</h1>
    <mat-divider></mat-divider>
    <div style="margin-top: 30px; margin-bottom: 20px;">
      <button
        matTooltip="Add new donation event"
        [matTooltipPosition]="'right'"
        (click)="onAddNewDonationEvent()"
        mat-fab color="accent"><mat-icon>library_add</mat-icon></button>
    </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef> Address </th>
        <td mat-cell *matCellDef="let element"> {{ element.address }} </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Last name </th>
        <td mat-cell *matCellDef="let element"> {{ element.description }} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
          <button
            matTooltip="View donation event info"
            color="primary"
            [matTooltipPosition]="'right'"
            mat-mini-fab
            color="accent"
            (click)="onViewDonationEvent(element.id)"><mat-icon>zoom_in</mat-icon></button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card>
</section>
