<mat-card>
  <div class="row" style="margin-top: 100px;">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <section class="mat-typography">
        <h1 style="font-size: 34px; text-align: center;" class="mat-headline">Blood Donation Administrator Portal</h1>

        <form #loginForm="ngForm" (submit)="onSubmit(loginForm)">
          <mat-dialog-content>
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Email</mat-label>
              <input
                matInput
                name="email"
                placeholder="Email"
                ngModel
                required>
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Password</mat-label>
              <input
                matInput
                name="password"
                placeholder="Password"
                [type]="hide ? 'password' : 'text'"
                ngModel
                required>
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            </mat-form-field>
          </mat-dialog-content>
          <mat-dialog-actions class="centered-content">
            <button type="button" mat-button (click)="loginForm.form.reset()">Reset</button>
            <button mat-raised-button type="submit" color="accent" [disabled]="!loginForm.form.valid">Login</button>
          </mat-dialog-actions>
        </form>
      </section>
    </div>
    <div class="col-md-4"></div>
  </div>
</mat-card>

<section class="mat-typography">

</section>
